.nav {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;

    .nav__logo {
        .nav__logo--link {
            .nav__logo--img {
                height: 5vh;
            }
        }
    }

    .nav__filters {
        .nav__filters--categ {}

        .nav__filters--search {}
    }

    .nav__loginCart {
        display: flex;

        .nav__loginCart--cart {
            margin: 1%;

            .nav__loginCart--cart-img {
                height: 1vh;
            }
        }

        .nav__loginCart--login {
            margin: 1%;

            .nav__loginCart--login-img {
                height: 1vh;
            }
        }
    }
}